<!DOCTYPE html>
<html>
<head>
    <title>피드백 페이지</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1>아이디어 피드백</h1>
                <p>{{ feedback }}</p>
                <a href="/" class="btn btn-primary mt-3">다른 아이디어 제출하기</a>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
